h1, h2, h3, h4{
    font-family: 'Times New Roman', Times, serif;
  color: rgb(4, 4, 66);  
  
}



nav :hover{
    background-color:rgb(87, 211, 57)
    
    
}

.jumbotron{
    background-image: url("../images/Daymeyen.jpg");
    margin-bottom: auto;
    background-size: cover;
    text-align: left;
    width: 100%;
    height: 450px;
    position: bottom;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
    }

    .cardContainer {
      margin-bottom: 200px;
      margin-right: auto;
     background-color: darkgray;
     border-right-style: groove;
     border-style: solid;
     border-color: blueviolet;
      
    }
    
    .row{
      margin-bottom: auto;
      position: relative;
    
    }

    .sectionheading{
      text-align: center;
      font-display: block;
      text-transform: uppercase;
      font-size: 4.3rem;
      padding-top: 0%;
      display: inline
      margin-bottom: ;
      line-height: 1.1;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    body{
      background-color: var(--light);


    }
    
    .card-img-top{
      image-orientation: flip;
      

    }

    .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover;
  }

  .card-title{
    text-align: center;
  }

  .card-text{
    text-align: center;
  }

 .btn-btn-primary{
  align-self: center;
 }