h1, h2, h3, h4{
    font-family: 'Times New Roman', Times, serif;
  color: rgb(4, 4, 66);  
  
}



nav :hover{
    background-color:rgb(87, 211, 57)
    
    
}

.jumbotron{
    background-image: url("../images/Daymeyen.jpg");
    margin-bottom: auto;
    background-size: cover;
    text-align: left;
    width: 100%;
    height: 450px;
    position: bottom;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
    }

    .cardContainer {
      margin-bottom: 40px;
      margin-right: auto;
     background-color: darkgray;
     border-right-style: groove;
     border-style: solid;
     border-color: blueviolet;
      
    }
    
    .row{
      margin-bottom: auto;
      position: relative;
    
    }

    .sectionheading{
      text-align: center;
      font-display: block;
      text-transform: uppercase;
      font-size: 4.3rem;
      padding-top: 0%;
      display: inline
      margin-bottom: ;
      line-height: 1.1;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    body{
      background-color: var(--light);


    }
    
    .card-img-top{
      image-orientation: flip;
      

    }

    .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover;
  }

  .card-title{
    text-align: center;
  }

  .card-text{
    text-align: center;
  }

 .btn-btn-primary{
  align-self: center;
 }

 .img-container > h2{
  align-content: center;
  justify-items: center;
  margin: 0px;
  text-align: center;
  font-size: 4.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  line-height: 1.1;
  font-size: 4.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: var(--tertiary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
  text-align: center;
}

.contact address a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}

.page-section p {
  margin-bottom: 20px;
}

 footer{
  text-align: center;
  color: blueviolet;
 }

 